/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT CONCAT([session_id],'') AS [session_id]
      ,CONCAT([blocked_by],'') AS [blocked_by]
      ,CONCAT([login],'') AS [login]
      ,CONCAT([host_name],'') AS [host_name]
      ,CONCAT([program_name],'') AS [program_name]
      ,CONCAT(SUBSTRING(CAST(REPLACE(REPLACE(CAST([Query] as NVarchar(MAX)),CHAR(13) + Char(10) ,' '),Char(9),' ')  AS NText),1,200),'') AS [Query]
      ,CONCAT([Command],'') AS [Command]
      ,CONCAT([database],'') AS [database]
      ,CONCAT([last_wait_type],'') AS [last_wait_type]
      ,CONCAT([wait_time_sec],'') AS [wait_time_sec]
      ,CONCAT([last_batch],'') AS [last_batch]
      ,CONCAT([login_time],'') AS [login_time]
      ,CONCAT([status],'') AS [status]
      ,CONCAT([cpu],'') AS [cpu]
      ,CONCAT([capture_time],'') AS [capture_time]
      ,CONCAT([ID_log],'') AS [ID_log]
  FROM [DBManager].[dbo].[log_locks]
  WHERE [capture_time] > '2022-08-01 08:00:00.000'
  AND [wait_time_sec] >= 5